//colors
$color-black: #000;
$color-black-alt: #1c0502;
$color-red-l: #ed2b12;
$color-red-m: #630100;
$color-red-d: #450100;

$base-font-size: 8rem;

// body {
// 	background: $color-black;
// }

.st {
	color: $color-black-alt;
	font-family: ITC Benguiat W01;
	font-size: 8rem;
	font-weight: 800;
	letter-spacing: -2px;
	margin: auto;
	text-align: center;
	text-shadow: -.05rem -.05rem 1px $color-red-l, .05rem -.05rem 1px $color-red-l, -.05rem .05rem 1px $color-red-l, .05rem .05rem 1px $color-red-l, 0 0 15px $color-red-m, 0 0 20px $color-red-d;
	text-transform: uppercase;
	width: 625px;

	&-bottom {
		clear: both;
		left: .6rem;
		letter-spacing: 2px;
		position: relative;
		top: -3.75rem;
	}

	&-drop {
		line-height: 0;
		position: relative;
		top: 1.55rem;
	}

	p {
		display: inline-block;
		margin: 0;

		span {
			animation: flicker 4s linear 1s;
		}
	}
}

.st-bound {
	animation: flicker 4s linear 1s;
	box-shadow: -.05rem -.05rem 2px $color-red-l, .05rem -.05rem 2px $color-red-l, -.05rem .05rem 2px $color-red-l, .05rem .05rem 2px $color-red-l;
	height: 5px;

	&-full {
		@include margin(null auto -1.2rem 5px);
		max-width: 612px;
		width: 100%;
	}

	&-mini {
		margin-top: .5rem;
	}

	&-left {
		float: left;
		left: 5px;
		position: relative;
		width: 99px;
	}

	&-right {
		float: right;
		left: .3rem;
		position: relative;
		width: 103px;
	}
}

.st-stranger {
	&-s {
		font-size: 10.5rem;
		letter-spacing: -8px;
	}

	&-t {
		letter-spacing: 0;
	}

	&-n {
		letter-spacing: -5px;
	}

	&-g {
		letter-spacing: 0;
	}

	&-r-2 {
		font-size: 10.5rem;
		right: .2rem;
	}
}

.st-things {
	&-t {
		font-size: 104%;
		letter-spacing: 2px;
	}

	&-n {
		letter-spacing: -5px;
	}

	&-g {
		letter-spacing: -3px;
	}
}
