@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes flicker {
	from {
		opacity: .5;
	}

	4% {
		opacity: .5;
	}

	6% {
		opacity: .45;
	}

	8% {
		opacity: .55;
	}

	10% {
		opacity: .45;
	}

	11% {
		opacity: .5;
	}

	12% {
		opacity: .65;
	}

	14% {
		opacity: .55;
	}

	16% {
		opacity: .70;
	}

	17% {
		opacity: .55;
	}

	19% {
		opacity: .5;
	}

	20% {
		opacity: .5;
	}

	24% {
		opacity: .5;
	}

	26% {
		opacity: .69;
	}

	28% {
		opacity: .5;
	}

	38% {
		opacity: .45;
	}

	40% {
		opacity: .5;
	}

	42% {
		opacity: .6;
	}

	44% {
		opacity: .5;
	}

	46% {
		opacity: .5;
	}

	56% {
		opacity: .5;
	}

	58% {
		opacity: .75;
	}

	60% {
		opacity: .5;
	}

	68% {
		opacity: .5;
	}

	70% {
		opacity: .6;
	}

	72% {
		opacity: .5;
	}

	93% {
		opacity: .5;
	}

	95% {
		opacity: .6;
	}

	97% {
		opacity: .5;
	}

	to {
		opacity: 1;
	}
}

@keyframes upside-rain {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	32% {
		opacity: .075;
	}

	50% {
		opacity: .075;
	}

	52% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes upside-down {
	0% {
		filter: none;
	}

	30% {
		filter: none;
	}

	31% {
		filter: brightness(400%);
	}

	32% {
		filter: brightness(400%);
	}

	33% {
		filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
	}

	50% {
		filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
	}

	51% {
		filter: brightness(400%);
	}

	52% {
		filter: brightness(400%);
	}

	53% {
		filter: none;
	}

	100% {
		filter: none;
	}
}

@keyframes el-shake {
	0% {
		transform: translate(0, 0);
	}

	15% {
		transform: translate(1px, 0);
	}

	30% {
		transform: translate(0, 1px);
	}

	45% {
		transform: translate(-1px, 1px);
	}

	60% {
		transform: translate(-1px, 0);
	}

	75% {
		transform: translate(0, 0);
	}

	85% {
		transform: translate(0, -1px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	21% {
		opacity: .8;
	}

	23% {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	61% {
		opacity: .95;
	}

	63% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	71% {
		opacity: .85;
	}

	73% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}

	0.5% {
		opacity: .8;
	}

	1.5% {
		opacity: .95;
	}

	2.5% {
		opacity: .85;
	}
}

@keyframes arm-shake {
	0% {
		transform: translate(0, 1px);
	}

	15% {
		transform: translate(1px, 1px);
	}

	30% {
		transform: translate(0, 1px);
	}

	45% {
		transform: translate(0, 1px);
	}

	60% {
		transform: translate(1px, 0);
	}

	75% {
		transform: translate(1px, 0);
	}

	85% {
		transform: translate(1px, 1px);
	}

	100% {
		transform: translate(0, 1px);
	}
}

@keyframes hand-shake {
	0% {
		transform: translate(1px, -1px) scale(1.01);
	}

	10% {
		transform: translate(-1px, -1px) scale(1.02);
	}

	30% {
		transform: translate(1px, 1px) scale(1.05);
	}

	35% {
		transform: translate(-1px, -1px) scale(1);
	}

	45% {
		transform: translate(0, 1px) scale(1.0175);
	}

	60% {
		transform: translate(-1px, -1px) scale(1.01);
	}

	85% {
		transform: translate(1px, 1px) scale(1.04);
	}

	100% {
		transform: translate(1px, -1px) scale(1.01);
	}
}

@keyframes side-effects {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	50% {
		opacity: .8;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes drip {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100% 0;
	}
}

@keyframes flicker-in-2 {
	0% {
		opacity: 0;
	}

	10% {
		box-shadow: none;
		opacity: 0;
	}

	10.1% {
		box-shadow: none;
		opacity: 1;
	}

	10.2% {
		box-shadow: none;
		opacity: 0;
	}

	20% {
		box-shadow: none;
		opacity: 0;
	}

	20.1% {
		color: rgba(191, 210, 255, .25);
		opacity: 1;
	}

	20.6% {
		box-shadow: none;
		opacity: 0;
	}

	30% {
		box-shadow: none;
		opacity: 0;
	}

	30.1% {
		color: rgba(191, 210, 255, .45);
		opacity: 1;
	}

	30.5% {
		color: rgba(191, 210, 255, .45);
		opacity: 1;
	}

	30.6% {
		box-shadow: none;
		opacity: 0;
	}

	45% {
		box-shadow: none;
		opacity: 0;
	}

	45.1% {
		color: rgba(191, 210, 255, .45);
		opacity: 1;
	}

	50% {
		color: rgba(191, 210, 255, .45);
		opacity: 1;
	}

	55% {
		color: rgba(191, 210, 255, .45);
		opacity: 1;
	}

	55.1% {
		box-shadow: none;
		opacity: 0;
	}

	57% {
		box-shadow: none;
		opacity: 0;
	}

	57.1% {
		color: rgba(191, 210, 255, .55);
		opacity: 1;
	}

	60% {
		color: rgba(191, 210, 255, .55);
		opacity: 1;
	}

	60.1% {
		box-shadow: none;
		opacity: 0;
	}

	65% {
		box-shadow: none;
		opacity: 0;
	}

	65.1% {
		color: rgba(191, 210, 255, .55);
		opacity: 1;
	}

	75% {
		color: rgba(191, 210, 255, .55);
		opacity: 1;
	}

	75.1% {
		box-shadow: none;
		opacity: 0;
	}

	77% {
		box-shadow: none;
		opacity: 0;
	}

	77.1% {
		color: rgba(191, 210, 255, .6);
		opacity: 1;
	}

	85% {
		color: rgba(191, 210, 255, .6);
		opacity: 1;
	}

	85.1% {
		box-shadow: none;
		opacity: 0;
	}

	86% {
		box-shadow: none;
		opacity: 0;
	}

	86.1% {
		color: rgba(191, 210, 255, .6);
		opacity: 1;
	}

	100% {
		color: rgba(191, 210, 255, 1);
		opacity: 1;
	}
}

@keyframes rotate-90-cw {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(45deg);
	}
}

@keyframes slide-out-right {
	0% {
		opacity: 1;
		transform: translateX(0) rotate(45deg);
	}

	100% {
		opacity: 0;
		transform: translateX(1000px) rotate(45deg);
	}
}

